# --- Rust ---
/target/
/etna_core/target/
**/*.rs.bk
Cargo.lock

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/

# --- Virtual Environments ---
.env
.venv
env/
venv/

# --- IDEs & Editors ---
.vscode/
.idea/
*.swp

# --- Project Specific (Temporary Test Data) ---
dummy_data.csv
dummy_reg.csv
.ipynb_checkpoints/
