# --- Rust ---
/target/
/etna_core/target/
**/*.rs.bk
Cargo.lock

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/

# --- Virtual Environments ---
.env
.venv
env/
venv/

# --- IDEs & Editors ---
.vscode/
.idea/
*.swp

# --- Project Specific (Temporary Test Data) ---
*.csv
.ipynb_checkpoints/

# --- MLflow & Tracking ---
mlruns/
mlartifacts/
mlflow.db
.trash/

# --- Model Checkpoints ---
*.pt
*.pth
*.ckpt
*_model.json
*_regressor.json


