name: Build Check for Rust and Python PR

on:
  pull_request:
    branches:
      - main

    
    
permissions:
  contents: read

jobs:
  tests:
    name: Rust and Python tests
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
    - name: Checkout Code
      uses: actions/checkout@v5

    - name: Set up Rust
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: Cache Rust dependencies
      uses: Swatinem/rust-cache@v2

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.9"
        cache: "pip"
        cache-dependency-path: requirements.txt

    - name: Install Python Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Build Core
      run: maturin develop

    
    - name: Rust Tests
      working-directory: etna_core
      run: cargo test

    - name: Python Tests
      working-directory: tests
      run: |
        pytest




    